[core]
profile = local
asyncblock = true
paramcompletion = true
history_file = /home/eriweb/.cloudmonkey/history
cache_file = /home/eriweb/.cloudmonkey/cache
log_file = /home/eriweb/.cloudmonkey/log

[ui]
color = true
prompt = 🐵 > 
display = default

[local]
username = admin
domain = /
apikey = 
url = http://localhost:8080/client/api
expires = 600
signatureversion = 3
secretkey = 
timeout = 3600
password = password
verifysslcert = true

